@model GCCommerce.Models.ModelFeeStructure
@using GCCommerce.Helpers;
@using Microsoft.AspNetCore.Http;
@using GCCommerce.Entities;

@{
    ViewData["Title"] = "AddUpdateFeeStructure";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    IList<Program> ILP = ViewBag.vb;
    IList<Shift> ILS = ViewBag.vbs;
}
  @{ 
     if (Model.Id < 1)
     {
          <h2>New Fee Structure</h2>
     }
     else
     {
           <h2>Update Fee Structure</h2>

     }
     }
<h4 hidden>ModelFeeStructure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUpdateFeeStructure">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group" >
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="FkProgramId"  class="control-label"></label>
                @*<input asp-for="FkProgramId" class="form-control" />*@
                @Html.DropDownListFor(model => model.FkProgramId, new SelectList(ILP, "ProgramId", "ProgramTitle"), "---Select Program", new { @class = "form-control" })

                <span asp-validation-for="FkProgramId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shift" class="control-label"></label>
                @* <input asp-for="Shift" class="form-control" />*@
                @Html.DropDownListFor(model => model.Shift, new SelectList(ILS, "ShiftId", "Shift1"), "---Select Shift---", new { @class = "form-control" })

                <span asp-validation-for="Shift" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year1" class="control-label"></label>
                <input asp-for="Year1" class="form-control" />
                <span asp-validation-for="Year1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year2" class="control-label"></label>
                <input asp-for="Year2" class="form-control" />
                <span asp-validation-for="Year2" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="DateUpdated" class="control-label"></label>
                <input asp-for="DateUpdated" class="form-control" />
                <span asp-validation-for="DateUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{
                    if (Model.Id < 1)
                    {
                        <input type="submit" value="Create" class="btn btn-primary" />
                    }
                    else
                    {
                        <input type="submit" value="Update" class="btn btn-warning" />

                    }
                }
            </div>
        </form>
    </div>
</div>

<div  class="form-control-static">
    <a asp-action="FeeStructureList" class="btn btn-danger form-control-static center-block">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
