@model GCCommerce.Models.ModelEvent
@using GCCommerce.Helpers;
@using Microsoft.AspNetCore.Http;
@using GCCommerce.Entities;

@{
    ViewData["Title"] = "AddUpdateEvent";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

@{
    if (Model.EventId < 1)
    {
        <h2 class="center-block">Add New Event</h2>
    }
    else
    {
        <h2 class="center-block">Update Event</h2>
    }
}
<h4 hidden>ModelEvent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUpdateEvent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="EventId" class="control-label"></label>
                <input asp-for="EventId" class="form-control" />
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventName" class="control-label"></label>
                <input asp-for="EventName" class="form-control" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDescription" class="control-label"></label>
                <input asp-for="EventDescription" class="form-control" />
                <span asp-validation-for="EventDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDate" class="control-label"></label>
                <input asp-for="EventDate" class="form-control" />
                <span asp-validation-for="EventDate" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="DateUpdated" class="control-label"></label>
                <input asp-for="DateUpdated" class="form-control" />
                <span asp-validation-for="DateUpdated" class="text-danger"></span>
            </div>
            <div>
                @{
                    if (Model.EventId < 1)
                    {

                        <input type="submit" value="Create" class="btn btn-primary" />
                    }
                    else
                    {
                        <input type="submit" value="Update" class="btn btn-warning" />

                    }
                }
            </div>
        </form>
    </div>
</div>

<div  class="form-control-static">
    <a asp-action="EventList" class="btn btn-danger form-control-static center-block">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
