@model GCCommerce.Models.ModelProgram
@using GCCommerce.Helpers;
@using Microsoft.AspNetCore.Http;
@using GCCommerce.Entities;


@{
    ViewData["Title"] = "AddUpdateProgram";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    IList<Shift> ILS = ViewBag.vb;
}
@{
    if (Model.ProgramId < 1)
    {
        <h2>Add Program</h2>
    }
    else
    {
        <h2>Update Program</h2>
    }
}

<h4 hidden>ModelProgram</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUpdateProgram">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="ProgramId" class="control-label"></label>
                <input asp-for="ProgramId" class="form-control" />
                <span asp-validation-for="ProgramId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkShiftId" class="control-label"></label>
                @*<input asp-for="FkShiftId" class="form-control" />*@
                @*<select asp-for="FkShiftId" class="form-control" asp-item="" asp-items="@ViewBag.ILS"></select>*@
                @Html.DropDownListFor(model => model.FkShiftId, new SelectList(ILS, "ShiftId", "Shift1"), "---Select Shift---", new { @class = "form-control" })
                <span asp-validation-for="FkShiftId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramTitle" class="control-label"></label>
                <input asp-for="ProgramTitle" class="form-control" />
                <span asp-validation-for="ProgramTitle" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="DateUpdated" class="control-label"></label>
                <input asp-for="DateUpdated" class="form-control" />
                <span asp-validation-for="DateUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{
                    if (Model.ProgramId < 1)
                    {
                        <input type="submit" value="Create" class="btn btn-primary" />
                    }
                    else
                    {
                        <input type="submit" value="Update" class="btn btn-warning" />
                    }
                }
            </div>
        </form>
    </div>
</div>

<div class="form-control-static">
    <a asp-action="ProgramList" class="btn btn-danger form-control-static center-block">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
