@model GCCommerce.Models.ModelGallery

@{
    ViewData["Title"] = "AddUpdateGllery";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
@{
    if (Model.GalleryId < 1)
    {
        <h2>Add Gllery</h2>
    }
    else
    {
        <h2>Update Gllery</h2>
    }
}
<h4 hidden>ModelGallery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUpdateGllery">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="GalleryId" class="control-label"></label>
                <input asp-for="GalleryId" class="form-control" />
                <span asp-validation-for="GalleryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GalleryImageName" class="control-label"></label>
                <input asp-for="GalleryImageName" class="form-control" />
                <span asp-validation-for="GalleryImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GalleryImageDescription" class="control-label"></label>
                <input asp-for="GalleryImageDescription" class="form-control" />
                <span asp-validation-for="GalleryImageDescription" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="DateUpdated" class="control-label"></label>
                <input asp-for="DateUpdated" class="form-control" />
                <span asp-validation-for="DateUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>
                    @{
                        if (Model.GalleryId < 1)
                        {

                            <input type="submit" value="Create" class="btn btn-primary" />
                        }
                        else
                        {
                            <input type="submit" value="Update" class="btn btn-warning" />

                        }
                    }
                </div>
            </div>

        </form>
    </div>
</div>

<div  class="form-control-static">
    <a asp-action="GalleryList" class="btn btn-danger form-control-static center-block">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
