@model GCCommerce.Models.ModelNews

@{
    ViewData["Title"] = "AddUpdateNews";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

@{
    if (Model.NewsId < 1)
    {
        <h2>Add News</h2>
    }
    else
    {
        <h2>Update News</h2>
    }
}
<h4 hidden>ModelNews</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUpdateNews">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="NewsId" class="control-label"></label>
                <input asp-for="NewsId" class="form-control" />
                <span asp-validation-for="NewsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsValue" class="control-label"></label>
                <input asp-for="NewsValue" class="form-control" />
                <span asp-validation-for="NewsValue" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="DateUpdated" class="control-label"></label>
                <input asp-for="DateUpdated" class="form-control" />
                <span asp-validation-for="DateUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{
                    if (Model.NewsId < 1)
                    {

                        <input type="submit" value="Create" class="btn btn-primary" />
                    }
                    else
                    {
                        <input type="submit" value="Update" class="btn btn-warning" />

                    }
                }

            </div>
        </form>
    </div>
</div>

<div class="form-control-static">
    <a asp-action="NewsList" class="btn btn-danger form-control-static center-block">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
